/* static/css/style.css */

/* General body styling with white text color */
body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Ensure that common text elements have white color */
h1, h2, h3, h4, h5, h6, p, span, a, td, th, div {
    color: white;
}

/* Module container styling */
.module-container {
    margin: 10px;
    padding: 10px;
}

/* Module content styling */
.module {
    margin: 5px;
    padding: 5px;
}

/* Table styling for better visibility */
table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid white;
}

/* Position */
#top-left {
    position:absolute;
    top: 50px;
    left: 50px;
}

#top {
    position:absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0);
}

#top-right {
    position:absolute;
    top: 50px;
    right: 50px;
}

#left {
    position:absolute;
    top: 50%;
    left: 50px;
    transform: translate(0, -50%);
}

#center {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#right {
    position:absolute;
    top: 50%;
    right: 50px;
    transform: translate(0, -50%);
}

#bottom-left {
    position:absolute;
    left: 50px;
    bottom: 50px;
}

#bottom {
    position:absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 50px;
}

#bottom-right {
    position:absolute;
    right: 50px;
    bottom: 50px;
}