<div class='weather-module' class='weather' style='{{ style }}'>
    <table style="border: 0px;">
        <tr>
            <td id= "weather-location" style="border: 0px; font-weight: bold;">{{ weather_info['location'] }}</td>
            <td id= "weather-alarm" colspan=4 style="border: 0px;">
                {% for alarm in weather_info['alarm'] %}
                {% if loop.first %}⚠ {% endif %}{{ alarm }}{% if not loop.last %} · {% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td rowspan=2 style="border: 0px;">
                <img id="weather-now_img" src="{{ weather_info['weather']['now_img'] }}"/>
            </td>
            <td id="weather-now_temperature" style="border: 0px; font-weight: bold;">{{ weather_info['weather']['now_temperature'] }}°C</td>
            <td style="border: 0px;"><span style="font-weight: bold;">습도</span> <span id="weather-quick_humidity">{{ weather_info['weather']['quick_humidity'] }}</span>%</td>
            <td style="border: 0px;"><span style="font-weight: bold;">체감</span> <span id="weather-quick_apparent_temperature">{{ weather_info['weather']['quick_apparent_temperature'] }}</span>°C</td>
            <td style="border: 0px;"><span id="weather-quick_wind_direction" style="font-weight: bold;">{{ weather_info['weather']['quick_wind_direction'] }}</span> <span id="weather-quick_wind_speed">{{ weather_info['weather']['quick_wind_speed'] }}</span>m/s</td>
        </tr>
        <tr>
            <!-- <td>2</td> -->
            <td id="weather-now_weather" style="border: 0px; font-weight: bold;">{{ weather_info['weather']['now_weather'] }}</td>
            <td style="border: 0px;"><span style="font-weight: bold;">미세</span> <span id="weather-quick_pm10" class="{% for class in weather_info['weather']['quick_pm10_color'] %}{{ class }}{% endfor %}">{{ weather_info['weather']['quick_pm10'] }}</span></td>
            <td style="border: 0px;"><span style="font-weight: bold;">초미세</span> <span id="weather-quick_pm25" class="{% for class in weather_info['weather']['quick_pm25_color'] %}{{ class }}{% endfor %}">{{ weather_info['weather']['quick_pm25'] }}</span></td>
            <td style="border: 0px;"><span id="weather-quick_sun" style="font-weight: bold;">{{ weather_info['weather']['quick_sun'] }}</span> <span id="weather-quick_suntime">{{ weather_info['weather']['quick_suntime'] }}</span></td>
        </tr>
    </table>
    <h4>주간예보</h4>
    <table style="border: 0px;">
        <tr>
            <th colspan=4>
                <div style="display: grid; grid-template-columns: repeat(4, 1fr); align-items: center;">
                    <div id="weather-today" style="vertical-align: middle;">
                        {{ weather_info['weekly'][0]['weekly_day'] }}<br>
                        {{ weather_info['weekly'][0]['weekly_date'] }}
                    </div>
                    <div style="display: grid; grid-template-columns: repeat(2, 1fr); align-items: center;">
                        <img id="weather-today_am_img" src="{{ weather_info['weekly'][0]['weekly_am_img'] }}" style="width: 60px;"/>
                        <span id="weather-today_am_rainfall">오전<br>{{ weather_info['weekly'][0]['weekly_am_rainfall'] }}%</span>
                    </div>
                    <div style="display: grid; grid-template-columns: repeat(2, 1fr); align-items: center;">
                        <img id="weather-today_ap_img" src="{{ weather_info['weekly'][0]['weekly_ap_img'] }}" style="width: 60px;"/>
                        <span id="weather-today_ap_rainfall">오후<br>{{ weather_info['weekly'][0]['weekly_am_rainfall'] }}%</span>
                    </div>
                    <div>
                        <span id="weather-today_low_temperature" style="color: #8888ff;">{{ weather_info['weekly'][0]['weekly_low_temperature'] }}°C</span>
                        /
                        <span id="weather-today_high_temperature" style="color: #ff8888;">{{ weather_info['weekly'][0]['weekly_high_temperature'] }}°C</span>
                    </div>
                </div>
            </th>
            <th colspan=4>
                <div style="display: grid; grid-template-columns: repeat(4, 1fr); align-items: center;">
                    <div id="weather-tomorrow" style="vertical-align: middle;">
                        {{ weather_info['weekly'][1]['weekly_day'] }}<br>
                        {{ weather_info['weekly'][1]['weekly_date'] }}
                    </div>
                    <div style="display: grid; grid-template-columns: repeat(2, 1fr); align-items: center;">
                        <img id="weather-tomorrow_am_img" src="{{ weather_info['weekly'][1]['weekly_am_img'] }}" style="width: 60px;"/>
                        <span id="weather-tomorrow_am_rainfall">오전<br>{{ weather_info['weekly'][1]['weekly_am_rainfall'] }}%</span>
                    </div>
                    <div style="display: grid; grid-template-columns: repeat(2, 1fr); align-items: center;">
                        <img id="weather-tomorrow_ap_img" src="{{ weather_info['weekly'][1]['weekly_ap_img'] }}" style="width: 60px;"/>
                        <span id="weather-tomorrow_ap_rainfall">오후<br>{{ weather_info['weekly'][1]['weekly_ap_rainfall'] }}%</span>
                    </div>
                    <div>
                        <span id="weather-tomorrow_low_temperature" style="color: #8888ff;">{{ weather_info['weekly'][1]['weekly_low_temperature'] }}°C</span>
                        /
                        <span id="weather-tomorrow_high_temperature" style="color: #ff8888;">{{ weather_info['weekly'][1]['weekly_high_temperature'] }}°C</span>
                    </div>
                </div>
            </th>
        </tr>
        <tr id="weather-weekly_row">
            {% for weekly in weather_info['weekly'][2:] %}
            <td style="border: 0px;">
                <div>
                    {{ weekly['weekly_day'] }}
                </div>
                <div>
                    {{ weekly['weekly_date'] }}
                </div>
                <div>
                    <img id="weather_img" src="{{ weekly['weekly_am_img'] }}" style="width: 50px;"/>
                    <img id="weather_img" src="{{ weekly['weekly_ap_img'] }}" style="width: 50px;"/>
                </div>
                <div>
                    <span style="color: #8888ff;">{{ weekly['weekly_low_temperature'] }}°C</span>
                    /
                    <span style="color: #ff8888;">{{ weekly['weekly_high_temperature'] }}°C</span>
                </div>
                <div>
                    {{ weekly['weekly_am_rainfall'] }}% {{ weekly['weekly_ap_rainfall'] }}%
                </div>
            </td>
            {% endfor %}
        </tr>
    </table>
</div>
<script>
    function updateWeatherData() {
        fetch('/api/weather-data')
            .then(response => response.json())
            .then(data => {
                // location
                const location = document.getElementById('weather-location');
                location.innerHTML = data.location;

                // alarm
                const alarm = document.getElementById('weather-alarm');
                data.alarm.forEach((alarm_data, index, array) => {
                    if (index === 0) {
                        alarm.innerHTML = '⚠'
                    }
                    alarm.innerHTML += `${' ' || alarm_data}`;
                    if (index !== array.length - 1) {
                        alarm.innerHTML += ' ·'
                    }
                });

                // weather now
                const now_img = document.getElementById('weather-now_img');
                const now_temperature = document.getElementById('weather-now_temperature');
                const now_weather = document.getElementById('weather-now_weather');
                now_img.src = data.weather.now_img
                now_temperature.innerHTML = `${data.weather.now_temperature}°C`;
                now_weather.innerHTML = data.weather.now_weather;

                // weather quick area
                const quick_humidity = document.getElementById('weather-quick_humidity');
                const quick_apparent_temperature = document.getElementById('weather-quick_apparent_temperature');
                const quick_wind_direction = document.getElementById('weather-quick_wind_direction');
                const quick_wind_speed = document.getElementById('weather-quick_wind_speed');
                const quick_pm10 = document.getElementById('weather-quick_pm10');
                const quick_pm25 = document.getElementById('weather-quick_pm25');
                const quick_sun = document.getElementById('weather-quick_sun');
                const quick_suntime = document.getElementById('weather-quick_suntime');
                quick_humidity.innerHTML = data.weather.quick_humidity;
                quick_apparent_temperature.innerHTML = data.weather.quick_apparent_temperature;
                quick_wind_direction.innerHTML = data.weather.quick_wind_direction;
                quick_wind_speed.innerHTML = data.weather.quick_wind_speed;
                quick_pm10.innerHTML = data.weather.quick_pm10;
                data.weather.quick_pm10_color.forEach(cls => {
                    quick_pm10.class = cls;
                });
                quick_pm25.innerHTML = data.weather.quick_pm25;
                data.weather.quick_pm25_color.forEach(cls => {
                    quick_pm25.class = cls;
                });
                quick_sun.innerHTML = data.weather.quick_sun;
                quick_suntime.innerHTML = data.weather.quick_suntime;

                // weekly today
                const today = document.getElementById('weather-today');
                const today_am_img = document.getElementById('weather-today_am_img');
                const today_am_rainfall = document.getElementById('weather-today_am_rainfall');
                const today_ap_img = document.getElementById('weather-today_ap_img');
                const today_ap_rainfall = document.getElementById('weather-today_ap_rainfall');
                const today_low_temperature = document.getElementById('weather-today_low_temperature');
                const today_high_temperature = document.getElementById('weather-today_high_temperature');
                today.innerHTML = `${data.weekly[0].weekly_day}<br>${data.weekly[0].weekly_date}`;
                today_am_img.src = data.weekly[0].weekly_am_img;
                today_am_rainfall.innerHTML = `오전<br>${data.weekly[0].weekly_am_rainfall}%`;
                today_ap_img.src = data.weekly[0].weekly_ap_img;
                today_ap_rainfall.innerHTML = `오후<br>${data.weekly[0].weekly_ap_rainfall}%`;
                today_low_temperature.innerHTML = `${data.weekly[0].weekly_low_temperature}°C`;
                today_high_temperature.innerHTML = `${data.weekly[0].weekly_high_temperature}°C`;

                // weekly tomorrow
                const tomorrow = document.getElementById('weather-tomorrow');
                const tomorrow_am_img = document.getElementById('weather-tomorrow_am_img');
                const tomorrow_am_rainfall = document.getElementById('weather-tomorrow_am_rainfall');
                const tomorrow_ap_img = document.getElementById('weather-tomorrow_ap_img');
                const tomorrow_ap_rainfall = document.getElementById('weather-tomorrow_ap_rainfall');
                const tomorrow_low_temperature = document.getElementById('weather-tomorrow_low_temperature');
                const tomorrow_high_temperature = document.getElementById('weather-tomorrow_high_temperature');
                tomorrow.innerHTML =  `${data.weekly[1].weekly_day}<br>${data.weekly[1].weekly_date}`;
                tomorrow_am_img.src = data.weekly[1].weekly_am_img;
                today_am_rainfall.innerHTML = `오전<br>${data.weekly[1].weekly_am_rainfall}%`;
                tomorrow_ap_img.src = data.weekly[1].weekly_ap_img;
                today_am_rainfall.innerHTML = `오후<br>${data.weekly[1].weekly_ap_rainfall}%`;
                tomorrow_low_temperature.innerHTML = `${data.weekly[1].weekly_low_temperature}°C`;
                tomorrow_high_temperature.innerHTML = `${data.weekly[1].weekly_high_temperature}°C`;

                // weekly the others
                const weekly_row = document.getElementById('weather-weekly_row');
                weekly_row.innerHTML = ''
                data.weekly.slice(2).forEach(weekly => {
                    weekly_row.innerHTML += 
                    `<td style="border: 0px;">
                        <div>${weekly['weekly_day']}</div>
                        <div>${weekly['weekly_date']}</div>
                        <div>
                            <img id="weather_img" src="${weekly["weekly_am_img"]}" style="width: 50px;"/>
                            <img id="weather_img" src="${weekly["weekly_ap_img"]}" style="width: 50px;"/>
                        </div>
                        <div>
                            <span style="color: #8888ff;">${weekly["weekly_low_temperature"]}°C</span> / 
                            <span style="color: #ff8888;">${weekly["weekly_high_temperature"]}°C</span>
                        </div>
                        <div>
                            ${weekly['weekly_am_rainfall']}% ${weekly['weekly_ap_rainfall']}%
                        </div>
                    </td>`
                });
            })
            .catch(error => console.error('Error fetching weather data:', error));
    }
    setInterval(updateWeatherData, {{ refresh_interval }});
</script>
<style>
    .level4_1 {
        color: #2a74f8;
    }
    .level4_2 {
        color: #00b686;
    }
    .level4_3 {
        color: #e97c00;
    }
    .level4_4 {
        color: #dc0100;
    }
</style>